html{
    font-family:sans-serif;
}

header{
    background: #385998;
}

.logo-area{
    color:white;

}
/* targeting the anchor link of the logo div */

.logo-area{
    text-decoration:none;
    color:white;
}