*{
    box-sizing: border-box;
}
a{
    color:white;
}
html{
    font-family:sans-serif;
}
/*///////////////////////////////////////////////// */
header{
    background: #385998;
    padding:15px;
}

header .logo-area{
    color:white;
    display:inline-block;
    width:10%;

}
/* targeting the anchor link of the logo div */

header .logo-area a{
    text-decoration:none;
    color:white;
    font-size:20px;
  
}
header a {
    color:white;
    text-decoration:none;
}
/* time to enter a different section the menu section*/

header .menu{
     display:inline-block;
     width:20%;
     border-right:1px solid rgba(255, 255, 25, .3);
     text-align:right;
     padding-right:20px;
    
 }

 header .menu ul li {
     display:inline-block;
 }

header .icon-links{
     display:inline-block;
     width:30%;
     padding-left:20px;
     border-right:1px solid rgba(255, 255, 25, .3);
     
 }

header .icon-links ul li {display:inline-block;}



 header .settings /*privacy*/{
     display: inline-block;
 }

 header .search-area{
     display:inline-block;
     width: 30%;
     text-align:right;
 }

 header .search-area ul li {
     display:inline-block;

   
 }
 /*/////////////////////////////////////////*/

 #top-area{
     padding:200px 15px 90px 15px;
    background: url(image/space.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 }

 #top-area .profile-info .user-image {
    padding:10px;
    display:inline-block;
 }

 
 #top-area .profile-info .user-image img{
    border-radius:50px;
 }

 #top-area .profile-info .user-detail {
    display:inline-block; 
    vertical-align: top;
    padding-left:15px;
 }

 #top-area .profile-info .user-detail h3{
     color:white;
     font-size:24px;
     font-weight:200;
     margin-top:30px;
     margin:10px;
    

 }

 #top-area .profile-info .user-detail a{
     display:inline block;
     background: rgba(255,255,255, .3);
     margin-left: 4px;
     width:30%;
     text-align:center;
     text-transform:uppercase;
     text-decoration:none;
     margin-top:20px;
     font-size:11px;
     padding:10px;
     -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
    border-radius: 5px;   
 }

 #top-area .profile-info .user-detail a:hover{
  background:#2196f3;
 }